<!doctype html>
<html lang="en" xmlns:th="" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>Задание</title>
</head>
<body>
<div class="container-fluid p-0">
    <div>
        <form class="mt-3" th:action="@{/tasks/update}" method="post" enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="id" name="id" th:value="${task.id}"/>
            <div class="mb-3">
                <label for="name" class="form-label" th:text="${task.name}"><b></b></label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Редактировать название">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="description" name="description" rows="25"
                          placeholder="Подробное описание задачи"></textarea>
            </div>
            <div class="col-3"><button><a class="btn-success w-100" type="submit">Сохранить</a></button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>